/* Cards */
.container-boxs {
    margin: 20px 0px 20px 0px;

    @media (max-width: 768px) {
        text-align: center;
    }

    a {
        text-align: center;
        text-decoration: none;
        color: $color-destacado;
    }

    img {
        border-radius: 0.5rem;
        filter: grayscale(50%);
        transition: all 0.3s ease;
        height: 200px;
        background-color: white;
        
        @media (max-width: 1024px) {
            max-width: 200px;
        }

        &:hover {
            filter: grayscale(100%);
            transform: scale(1.03);
        }
    }

    p {
        margin-bottom: 0;
        text-transform: uppercase;
        margin-top: 5px;
    }

    span {
        font-weight: bold;
    }

    .card-body {
        text-align: left;

        @media (max-width: 1024px) {
            margin: 15px 0px 5px;
        }

        @media (max-width: 768px) {
            text-align: center;
        }
    }
}

/* END Cards */